body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

#image-container {
    margin-top: 20px;
    height: 600px;
    margin-bottom: 20px;
}

#image-container img {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}